.design {
  background-color: rgb(35, 34, 34);
  display: inline-block;
  width: 360px;
}
h1 {
  color: white;
  padding: 10px;
}
p {
  color: rgb(192, 192, 192);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
